
{{#each allPosts as |blogPost| }}
<section class="card">
    <div class="card mb-3" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{title}}
        </h5>
        <p class="card-text">{{content}}</p>                              {{! i don't have the date working yet}}
        <p class="card-text">Created by: {{ blogPost.user.userName }} <br>On: {{format_date date_created}} </p>
        <a href="/blogpost/{{blogPost.id}}" class="btn btn-primary">Comments</a>
    </div>
    </div>
</section>
{{/each}}

{{!-- <script src="./js/comment.js"></script> --}}

