
<section class="card">
    <div class="card mb-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{title}}
            </h5>
            <p class="card-text">{{content}}</p>
            <p class="card-text">Created by: {{ user.userName }} <br> On: {{format_date date_created}}</p>
            {{!-- <a href="/blogpost/{{blogPost.id}}" class="btn btn-primary">Comments</a> --}}
        </div>
    </div>
</section>

{{> blogComment }}

<section>
    <form class="commentBtn">
        <div class="mb-3">
            <label for="text" class="form-label">Leave a comment!</label>
            <textarea class="form-control" id="comment-text" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Post!</button>
    </form>
</section>