<div class="dashBoard">
    <header class="dashHeader text-center">Dashboard</header>
    <a class="nav-link text-center" href="/profile">New Post</a>
</div>

<div class="row">
{{!-- {{log sameUser}} --}}
{{!-- {{log 'before #each ' sameUser}} --}}
{{log 'inside #each ../sameUser' sameUser}}
{{#each allPosts as |blogPost| }}
{{!-- {{log ../sameUser}} --}}
    <div class="d-flex col-md-5 justify-content-center">
        {{!-- <section class="card"> --}}
        {{#if blogPost.ownedByCurrentUser}}
            <div class="blog-card rounded-top-5 pb-3 card mb-3 px-2" >
                     <div class="postInfo">
                    <h3 class="fs-1 fw-bold header card-title">{{title}}</h5>
                    <p class="fs-2 ard-text">{{content}}</p>                
                    <p class="card-text">Created by: {{ blogPost.user.userName }} <br>On: {{format_date date_created}} </p>
                    <a href="/blogpost/{{blogPost.id}}" class="btn btn-primary">Comments</a>
                    
                        <a href="/blogUpdate/{{blogPost.id}}" type="button" class="btn btn-secondary">Update!</a>
                        <button type="button" class="btn btn-danger" data-id="{{id}}">Delete!</button>
                    
                </div>
            </div>
        {{/if}}
        {{!-- </section> --}}
    </div>
{{/each}}
</div>

<script src="../js/changePost.js"></script>